.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

.navMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 10px #1111113a;
}

.logo {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  border: none;
  background-color: rgb(0, 145, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.rhs {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputSectionLabel {
  margin-top: 1rem;
}

.inputSectionInput {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.371);
  margin-top: 0.2rem;
}

.inputSectionButton {
  background-color: rgb(0, 145, 255);
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  justify-self: flex-end;
  align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.outputSection {
  width: 100%;
  padding: 1rem;
}

.remItem {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.remItemName {
  font-size: 1.5rem;
}

.remItemSub {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.deleteButton {
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: red;
  border: none;
  padding: 0.5rem;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.completeButton {
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: greenyellow;
  border: none;
  padding: 0.5rem;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
